*.ipynb linguist-documentation
*.html linguist-documentation
*.p linguist-documentation
*.net linguist-documentation

###### Diff for texte file
*.md diff=word
*.txt diff=word
*.zip filter=lfs diff=lfs merge=lfs -text
